.header {
  background-color: #343a40;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
}

.nav {
  display: flex;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}
